<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="packageMapper.base.userBaseMapper">


    <insert id="insertuser"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="userName!=null">
                        `userName`,
                    </if>
                    <if test="passWord!=null">
                        `passWord`,
                    </if>
                    <if test="phone!=null">
                        `phone`,
                    </if>
                    <if test="realName!=null">
                        `realName`,
                    </if>
                    <if test="sex!=null">
                        `sex`,
                    </if>
                    <if test="address!=null">
                        `address`,
                    </if>
                    <if test="email!=null">
                        `email`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="userName!=null">
                    #{userName},
                </if>
                <if test="passWord!=null">
                    #{passWord},
                </if>
                <if test="phone!=null">
                    #{phone},
                </if>
                <if test="realName!=null">
                    #{realName},
                </if>
                <if test="sex!=null">
                    #{sex},
                </if>
                <if test="address!=null">
                    #{address},
                </if>
                <if test="email!=null">
                    #{email},
                </if>
        </trim>
        )
    </insert>




    <update id="updateuser">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
            <if test="userName != null and userName!=''">
                `userName` = #{userName},
            </if>
            <if test="passWord != null and passWord!=''">
                `passWord` = #{passWord},
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone},
            </if>
            <if test="realName != null and realName!=''">
                `realName` = #{realName},
            </if>
            <if test="sex != null and sex!=''">
                `sex` = #{sex},
            </if>
            <if test="address != null and address!=''">
                `address` = #{address},
            </if>
            <if test="email != null and email!=''">
                `email` = #{email},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
        <if test="set.userName != null and set.userName!=''">
            `userName` = #{set.userName},
        </if>
        <if test="set.passWord != null and set.passWord!=''">
            `passWord` = #{set.passWord},
        </if>
        <if test="set.phone != null and set.phone!=''">
            `phone` = #{set.phone},
        </if>
        <if test="set.realName != null and set.realName!=''">
            `realName` = #{set.realName},
        </if>
        <if test="set.sex != null and set.sex!=''">
            `sex` = #{set.sex},
        </if>
        <if test="set.address != null and set.address!=''">
            `address` = #{set.address},
        </if>
        <if test="set.email != null and set.email!=''">
            `email` = #{set.email},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.userNameList != null">
                    `userName` in
                    <foreach collection="where.userNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyUserName!=null and where.fuzzyUserName.size()>0">
                (
                <foreach collection="where.fuzzyUserName"  separator="or" item="item">
                    `UserName` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyUserName!=null and where.rightFuzzyUserName.size()>0">
                (
                <foreach collection="where.rightFuzzyUserName"  separator="or" item="item">
                    `UserName` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.passWordList != null">
                    `passWord` in
                    <foreach collection="where.passWordList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPassWord!=null and where.fuzzyPassWord.size()>0">
                (
                <foreach collection="where.fuzzyPassWord"  separator="or" item="item">
                    `PassWord` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPassWord!=null and where.rightFuzzyPassWord.size()>0">
                (
                <foreach collection="where.rightFuzzyPassWord"  separator="or" item="item">
                    `PassWord` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.phoneList != null">
                    `phone` in
                    <foreach collection="where.phoneList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPhone!=null and where.fuzzyPhone.size()>0">
                (
                <foreach collection="where.fuzzyPhone"  separator="or" item="item">
                    `Phone` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPhone!=null and where.rightFuzzyPhone.size()>0">
                (
                <foreach collection="where.rightFuzzyPhone"  separator="or" item="item">
                    `Phone` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.realNameList != null">
                    `realName` in
                    <foreach collection="where.realNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyRealName!=null and where.fuzzyRealName.size()>0">
                (
                <foreach collection="where.fuzzyRealName"  separator="or" item="item">
                    `RealName` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyRealName!=null and where.rightFuzzyRealName.size()>0">
                (
                <foreach collection="where.rightFuzzyRealName"  separator="or" item="item">
                    `RealName` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.sexList != null">
                    `sex` in
                    <foreach collection="where.sexList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySex!=null and where.fuzzySex.size()>0">
                (
                <foreach collection="where.fuzzySex"  separator="or" item="item">
                    `Sex` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySex!=null and where.rightFuzzySex.size()>0">
                (
                <foreach collection="where.rightFuzzySex"  separator="or" item="item">
                    `Sex` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.addressList != null">
                    `address` in
                    <foreach collection="where.addressList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAddress!=null and where.fuzzyAddress.size()>0">
                (
                <foreach collection="where.fuzzyAddress"  separator="or" item="item">
                    `Address` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAddress!=null and where.rightFuzzyAddress.size()>0">
                (
                <foreach collection="where.rightFuzzyAddress"  separator="or" item="item">
                    `Address` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.emailList != null">
                    `email` in
                    <foreach collection="where.emailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyEmail!=null and where.fuzzyEmail.size()>0">
                (
                <foreach collection="where.fuzzyEmail"  separator="or" item="item">
                    `Email` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyEmail!=null and where.rightFuzzyEmail.size()>0">
                (
                <foreach collection="where.rightFuzzyEmail"  separator="or" item="item">
                    `Email` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="packageModel.user" id="userMap">
        <result property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="passWord" column="passWord"/>
        <result property="phone" column="phone"/>
        <result property="realName" column="realName"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
        <result property="email" column="email"/>
    </resultMap>


    <select id="queryuser" resultMap="userMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userName != null and userName!=''">
                `userName` = #{userName} and
            </if>
            <if test="passWord != null and passWord!=''">
                `passWord` = #{passWord} and
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone} and
            </if>
            <if test="realName != null and realName!=''">
                `realName` = #{realName} and
            </if>
            <if test="sex != null and sex!=''">
                `sex` = #{sex} and
            </if>
            <if test="address != null and address!=''">
                `address` = #{address} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test = "(_parameter instanceof packageModel.user$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="userNameList != null">
                    `userName` in
                    <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `UserName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `UserName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="passWordList != null">
                    `passWord` in
                    <foreach collection="passWordList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPassWord!=null and fuzzyPassWord.size()>0">
                    (
                    <foreach collection="fuzzyPassWord"  separator="or" item="item">
                        `PassWord` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassWord!=null and rightFuzzyPassWord.size()>0">
                    (
                    <foreach collection="rightFuzzyPassWord"  separator="or" item="item">
                        `PassWord` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="phoneList != null">
                    `phone` in
                    <foreach collection="phoneList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPhone!=null and fuzzyPhone.size()>0">
                    (
                    <foreach collection="fuzzyPhone"  separator="or" item="item">
                        `Phone` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhone!=null and rightFuzzyPhone.size()>0">
                    (
                    <foreach collection="rightFuzzyPhone"  separator="or" item="item">
                        `Phone` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="realNameList != null">
                    `realName` in
                    <foreach collection="realNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRealName!=null and fuzzyRealName.size()>0">
                    (
                    <foreach collection="fuzzyRealName"  separator="or" item="item">
                        `RealName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRealName!=null and rightFuzzyRealName.size()>0">
                    (
                    <foreach collection="rightFuzzyRealName"  separator="or" item="item">
                        `RealName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="sexList != null">
                    `sex` in
                    <foreach collection="sexList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySex!=null and fuzzySex.size()>0">
                    (
                    <foreach collection="fuzzySex"  separator="or" item="item">
                        `Sex` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySex!=null and rightFuzzySex.size()>0">
                    (
                    <foreach collection="rightFuzzySex"  separator="or" item="item">
                        `Sex` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="addressList != null">
                    `address` in
                    <foreach collection="addressList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAddress!=null and fuzzyAddress.size()>0">
                    (
                    <foreach collection="fuzzyAddress"  separator="or" item="item">
                        `Address` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAddress!=null and rightFuzzyAddress.size()>0">
                    (
                    <foreach collection="rightFuzzyAddress"  separator="or" item="item">
                        `Address` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="emailList != null">
                    `email` in
                    <foreach collection="emailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryuserLimit1" resultMap="userMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userName != null and userName!=''">
                `userName` = #{userName} and
            </if>
            <if test="passWord != null and passWord!=''">
                `passWord` = #{passWord} and
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone} and
            </if>
            <if test="realName != null and realName!=''">
                `realName` = #{realName} and
            </if>
            <if test="sex != null and sex!=''">
                `sex` = #{sex} and
            </if>
            <if test="address != null and address!=''">
                `address` = #{address} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test = "(_parameter instanceof packageModel.user$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="userNameList != null">
                        `userName` in
                        <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `UserName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `UserName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="passWordList != null">
                        `passWord` in
                        <foreach collection="passWordList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPassWord!=null and fuzzyPassWord.size()>0">
                    (
                    <foreach collection="fuzzyPassWord"  separator="or" item="item">
                        `PassWord` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassWord!=null and rightFuzzyPassWord.size()>0">
                    (
                    <foreach collection="rightFuzzyPassWord"  separator="or" item="item">
                        `PassWord` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="phoneList != null">
                        `phone` in
                        <foreach collection="phoneList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPhone!=null and fuzzyPhone.size()>0">
                    (
                    <foreach collection="fuzzyPhone"  separator="or" item="item">
                        `Phone` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhone!=null and rightFuzzyPhone.size()>0">
                    (
                    <foreach collection="rightFuzzyPhone"  separator="or" item="item">
                        `Phone` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="realNameList != null">
                        `realName` in
                        <foreach collection="realNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRealName!=null and fuzzyRealName.size()>0">
                    (
                    <foreach collection="fuzzyRealName"  separator="or" item="item">
                        `RealName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRealName!=null and rightFuzzyRealName.size()>0">
                    (
                    <foreach collection="rightFuzzyRealName"  separator="or" item="item">
                        `RealName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="sexList != null">
                        `sex` in
                        <foreach collection="sexList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySex!=null and fuzzySex.size()>0">
                    (
                    <foreach collection="fuzzySex"  separator="or" item="item">
                        `Sex` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySex!=null and rightFuzzySex.size()>0">
                    (
                    <foreach collection="rightFuzzySex"  separator="or" item="item">
                        `Sex` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="addressList != null">
                        `address` in
                        <foreach collection="addressList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAddress!=null and fuzzyAddress.size()>0">
                    (
                    <foreach collection="fuzzyAddress"  separator="or" item="item">
                        `Address` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAddress!=null and rightFuzzyAddress.size()>0">
                    (
                    <foreach collection="rightFuzzyAddress"  separator="or" item="item">
                        `Address` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="emailList != null">
                        `email` in
                        <foreach collection="emailList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `userName`,
        `passWord`,
        `phone`,
        `realName`,
        `sex`,
        `address`,
        `email`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof packageModel.user$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.userName==true">
                        `userName`,
                    </if>
                    <if test="fetchFields.fetchFields.passWord==true">
                        `passWord`,
                    </if>
                    <if test="fetchFields.fetchFields.phone==true">
                        `phone`,
                    </if>
                    <if test="fetchFields.fetchFields.realName==true">
                        `realName`,
                    </if>
                    <if test="fetchFields.fetchFields.sex==true">
                        `sex`,
                    </if>
                    <if test="fetchFields.fetchFields.address==true">
                        `address`,
                    </if>
                    <if test="fetchFields.fetchFields.email==true">
                        `email`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.userName==null">
                        `userName`,
                    </if>
                    <if test="fetchFields.excludeFields.passWord==null">
                        `passWord`,
                    </if>
                    <if test="fetchFields.excludeFields.phone==null">
                        `phone`,
                    </if>
                    <if test="fetchFields.excludeFields.realName==null">
                        `realName`,
                    </if>
                    <if test="fetchFields.excludeFields.sex==null">
                        `sex`,
                    </if>
                    <if test="fetchFields.excludeFields.address==null">
                        `address`,
                    </if>
                    <if test="fetchFields.excludeFields.email==null">
                        `email`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof packageModel.user$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>